body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.wrapper {
    display: flex;
    flex-direction: row;
}
.dashboard-title{
    padding: 10px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    background-color: #D25134;
    color: #fff;
    padding: 10px;
    transition: transform 0.3s ease;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    color: white;
    padding: 10px 15px;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar-item:hover {
    background-color: #c54623;
}

.sidebar-item a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.content{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    background-color: #f8f9fa;


}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    top: 0;
    background-color: #f8f9fa;
    padding: 10px 20px;
    z-index: 1000;
}
.nav-icons{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;

}
.flag-icon{
    width: 35px;
    height: 30px;

}
.search-box {
    display: flex;
    align-items: center;
    max-width: 500px;
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-icon {
    margin-left: 10px;
    color: #ced4da;
    cursor: pointer;
}
.main-content {
    padding: 20px;
    background-color: #fff;
}

.flights-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.flights-header h1 {
    margin: 0;
    font-size: 24px;
}

.flights-actions {
    display: flex;
    gap: 10px;
}

.add-button, .filter-button {
    background-color: #36454F;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}



.add-button:hover, .filter-button:hover {
    background-color: gray;
}



.flights-table {
    width: 100%;
    border-collapse: collapse;
}

.flights-table th, .flights-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.flights-table th {
    background-color: #f2f2f2;
}

.del-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.del-button:hover {
    background-color: #c82333;
}
/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {

    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px; /* Maximum width */
    border-radius: 8px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.modal-form {
    width: 100% !important;
    display: grid;
}

.form-group {
    display: flex;
    padding: 4%;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-actions {
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

.modal-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #0056b3;
}
.toggle-button {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000; /* Change to desired color */
}
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        position: absolute;
        z-index: 1000;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .toggle-button {
        display: block;
    }

    .content {
        width: 100%;
    }
}

